apify-client==1.0.0
emoji==1.7.0
Flask==2.2.3
Flask-Cors==3.0.10
Flask-PyMongo==2.3.0
gunicorn==20.1.0
nltk==3.8.1
numpy==1.24.2
packaging==23.0
pandas==1.5.3
pymongo==4.3.3
--no-cache
pysentimiento==0.6.2
python-dotenv==1.0.0
gunicorn==20.1.0

